.history__select {
  margin: 16px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.history__select p {
  cursor: pointer;
  font-family: StolzlBook;
  color: #828282;
  font-size: 16px;
  line-height: 19.2px;
}

.history__filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.history__filters__clear {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 1px solid #828282;
  border-radius: 999px;
}

.history__filters__clear svg {
  color: #828282;
}

.history__items {
  margin-top: 16px;
  height: 360px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.history__items::-webkit-scrollbar {
  display: none;
}

.history__button {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}

.history__button button {
  cursor: pointer;
  border: 1px solid #bc3b3b;
  border-radius: 999px;
  padding: 6px 14px;
  background: transparent;
  font-family: StolzlBook;
  color: #bc3b3b;
  font-size: 16px;
  line-height: 19.2px;
}

.active {
  color: #000000 !important;
}
