.historyItem {
  width: 100%;
  height: 81px;
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.historyItem__img {
  overflow: hidden;
  width: 142px;
  height: 100%;
  border-radius: 12px;
}

.historyItem__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.historyItem__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.historyItem__info p {
  font-family: StolzlBook;
  color: #000000;
  font-size: 12px;
}

.historyItem__info p span {
  color: #828282;
}

.historyItem__button {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 11px;
}

.historyItem__button button {
  cursor: pointer;
  border-radius: 999px;
  padding: 6px 14px;
  background: transparent;
  font-family: StolzlBook;
  border: 1px solid #1964a7;
  color: #6e5f86;
  font-size: 16px;
  line-height: 19.2px;
}
